.container1Leo {
  height: 100%;
  background: var(--hardblue);
  color: var(--gray-50);
  text-align: center;
  padding-bottom: 10px;
}
.container1Leo button {
  background: var(--creme);
  color: var(--hardblue);
}
.container1Leo img {
  width: 11.563rem;
  height: 10.625rem;
  margin-top: 13px;
}
.container1Leo section {
  max-width: 22rem;
  margin: auto;
}
.containerGeralProjetosLeo {
  height: 100%;

  background: var(--creme);
  color: var(--hardblue);
  margin-top: 10px;
  justify-content: space-between;
  padding-left: 13px;
}
.containerGeralProjetosLeo button {
  color: var(--gray-50);
  background: var(--hardblue);
}

.imgNihongo {
  width: 22.7rem;
  height: 17.75rem;
  border-radius: 8px;
}
.imgCadastro {
  width: 22.75rem;
  height: 17.75rem;
  border-radius: 8px;
}

.containerProjLeo {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.containerGeralProjetosLeo h3 {
  text-decoration-line: underline;
  text-align: center;
  padding-top: 13px;
}

.containerSobreMim {
  height: 200px;
  background: var(--hardblue);
  color: var(--gray-50);
  margin-top: 10px;
  padding-top: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 8px;
}
.containerSection {
  max-width: 820px;
  margin: auto;
  padding-top: 15px;
}

.imgSiteMeProjetosContainer {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.imgNihongoProjetosContainer {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 31px;
}
.containerTecnologias {
  height: 100%;

  background: var(--creme);
  margin-top: 10px;
  color: var(--hardblue);
  display: flex;
  justify-content: space-around;
}

/* .containerTecnologias img {
  width: 23.75rem;
  height: 14.688rem;
  
} */
.ImgFototec {
  width: 29rem;
  height: 17.6rem;
  opacity: 0.9;
}
.ImgFotecLeo {
  width: 24.75rem;
  height: 14.688rem;
}
.containerTecLeo {
  display: flex;
  flex-direction: column;
}
.containerTecLeo h3 {
  padding-top: 13px;
  text-align: center;
}
.containerCurriculo {
  height: 200px;
  background: var(--hardblue);
  color: var(--gray-50);
  margin-top: 10px;
  padding-top: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
.containerOportunidades {
  height: 200px;
  background: var(--creme);
  color: var(--hardblue);
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
.handFa {
  color: yellow;
}
.handFa1 {
  color: blue;
}
.containerIcons {
  margin-top: 10px;
}
@media (max-width: 745px) {
  .containerProjLeo {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .containerTecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
